#title {
    text-align: center;
    color: orangered;
    font-size: 45px;
    font-family: "Lato";
}

#para {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: "Roboto";
}

h2 {
    font-style: bold;  
    font-family: "Lato";
    color: maroon;
    font-size: 60px;
}

.menu {
    display: flex;
    padding: 30px;
    margin: 50px;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
    text-align: center
}

.menu-item {
    flex: 0 0 calc(33.333% - 20px);
    background-color:#FDE7B3;
    border: 2px solid #FF2400;
    border-radius: 20px;   
    padding: 50px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: solid 5px #000000;
}

p {
    font-family: "Roboto";
    font-size: 25px;
}

.price {
    font-weight: bold;
    font-size: 40px;
    font-family: "Lato";
    color: green;
}