body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business {
    text-align: center;
    font-size: 40px;
}

.name {
    text-align: center;
    font-size: 35px;
}

.title {
    text-align: center;
    font-size: 20px;
}

.mail {
    display: block;
    text-align: center;
    text-decoration: none;
}

.mail:hover {
    color: red;
}

.card {
  background-color: gold;
  width: 300px;
  height: 500px;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  margin: 100px;
}

.pic {
    border-radius: 20px;
    height: 150px;
    width: 150px;
}