.form1 {
    background-color: gold;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    height: 200px;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
}


#surv, #text {
    align-content: center;
    margin: 0 auto;
}