body {
    font-family: 'Inter';
}

.card {
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 40px;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 165, 0));
    height: 1800px;
    width: 900px;
}

.hyly, .album, .triv {
    font-size: 60px;
}

.baby {
    border: 3px solid lightgoldenrodyellow;
    height: 500px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.all {
    height: 350px;
    width: 350px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

p {
    text-align: center;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 36, 0);

}
button:hover {
    background: rgb(243, 231, 1);
    transform: scale(1.05);
}

}