#title {
    margin: 20px auto;
    text-align: center;
}

.gallery {
 display: grid;
 flex-wrap: wrap;
 justify-content: center;
 padding: 20px;
 gap: 20px;
 background-color: gold;
 border-radius: 20px;
 grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}

figure {
    flex: 0 0 calc(33.333% - 40px);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: orange
    ;
}

img {
    height: 300px;
    width: 200px
}

